
<div class="row top-buffer">
    <div class="text-center text-nowrap text font-weight-bold">
        <h1>אנו צריכים את הפרטים האישים שלך</h1>
    </div>
</div>
<div class="row top-buffer">
    <div class=" text-center">

        <div class="form-group">
            <input type="email"
                   ng-model="user.Email"
                   class="form-control"
                   id="name"
                   placeholder="אימל" required>
        </div>
        <div class="form-group">
            <input type="tel"
                   ng-model="user.Phone"
                   class="form-control"
                   id="exampleInputEmail2"
                   placeholder="מספר טלפון" required>
        </div>

    </div>
</div>
<div class="row top-buffer">
    <div class="col-sm-12">
        <div class="text-center">
            <button type="button"
                    class="btn btn-success "
                    ng-click="fisnihSteptwo()">
                המשך
            </button>
        </div>
    </div>
</div>

</div>